<mat-toolbar color="primary">
    <div>
      <a>My Tution</a>
    </div>
    <div>
        <button mat-icon-button (click)="toggleSidenav()">
         <mat-icon>menu</mat-icon>
       </button>
     </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
       <ul fxLayout fxLayoutGap="20px" class="navigation-items">
           <li>
               <a>
                 <mat-icon class="icon">input</mat-icon>
                 <span class="label">LogOut</span>
                </a>
           </li>
       </ul>
    </div>
</mat-toolbar>